<div class="overlay-container">
  <div class="table-users">
  <%= link_to 'Add a New Student', new_student_path, class: 'btn btn-info form-control' %>
    <div class="header">Students</div>
    <table cellspacing="0">
      <tr>
          <th>Image</th>
          <th>Name</th>
          <th>age</th>
          <th>Roll Number</th>
          <th width="230" colspan = '3'>Actions</th>
      </tr>
      <tbody>
        <% @students.each do |student| %>
          <tr>
            <td><img src="http://lorempixel.com/100/100/people/<%= student.id%>" alt="" /></td>
            <td><%= student.name %></td>
            <td><%= student.age %></td>
            <td><%= student.roll_number %></td>
            <td><%= link_to 'Show', student %></td>
            <td><%= link_to 'Edit', edit_student_path(student) %></td>
            <td><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>


<div class="masthead">
  <div class="masthead-bg"></div>
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-12 my-auto">
        <div class="masthead-content text-white py-5 py-md-0">
          <h1 class="mb-3">Module 8 Classroom App</h1>
          <p id="notice"><%= notice %></p>
          <p class="mb-5">Hello Teacher: <%= "#{current_user.name}"%> </p>
          <div class="input-group input-group-newsletter">  
            <p><h3>All the Students</h3></p>
            <div class="input-group form-group">
              <%= link_to 'Sign-Out', destroy_user_session_path(protocol: 'https'), method: :delete, class: 'btn btn-danger form-control'%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>