<div class="login-form">
    <%= form_for(:sessions, url: javascripts_index_path) do |f| %>
      <h2 class="text-center"><%=t(:txt_title_login)%></h2>    
      <div class="form-group">
        <%= f.text_field :user, class: 'form-control', placeholder: t(:name_placeholder), required: true%>
      </div>
      <div class="form-group">
        <%= f.password_field :password, class: 'form-control', placeholder: t(:passw_placeholder), required: true%>
      </div>
      <div class="form-group">
        <%= f.submit t(:txt_btn_login), class: "btn btn-primary" %>
      </div>  
      <div class="clearfix">
            <label class="pull-left checkbox-inline"><input type="checkbox"><%=t(:txt_ckb_remember)%></label>
            <a href="#" class="pull-right"><%=t(:txt_forgot)%></a>
        </div>      
    <% end %>
    <p class="text-center"><%= link_to t(:txt_create_new_account), root_path%></p>
</div>