<div class="container">
    <header>
        <small>
            <span><a target="_blank" href="https://www.freecodecamp.org/" class="top">freeCodeCamp</a></span> |
            <span><a target="_blank" href="https://learn.freecodecamp.org/" class="top">Responsive Web Design</a></span> |
            <span><a target="_blank" href="https://learn.freecodecamp.org/responsive-web-design/responsive-web-design-projects/build-a-survey-form" class="top">Project</a></span> |
            <span><a target="_blank" href="https://codepen.io/oscarmolivera/full/pxZggJ" class="top">Original</a></span>
        </small>
        <h1 id="title">WELCOME TO MY FIRST APP!</h1>
    </header>
    <main>
        <div class="marker">
            <h2>ETHER INVESTMENT SURVEY FORM</h2>
            <p id="description">Please fill out this form so we can help you.</p>
        </div>
        <%= form_tag('/#', id: "survey-form") do %>
            <div class="row-A">
                <div><h3><%= label_tag 'name', 'Name', id: "name-label"%></h3></div>
                <div><%= text_field_tag 'name', nil, id: "name", placeholder: 'Your name here.', required: :true %></div>
                <div><h3><%= label_tag 'email', 'Email', id: "email-label"%></h3></div>
                <div><%= email_field_tag 'email', nil, id: "email", placeholder: 'Your email address here.', required: :true %></div>
            </div>
            <div class="row-B">
                <div class = "element1">
                    <h3><%= label_tag 'number', 'Monthly Investment Amount:', id: "number-label"%></h3>
                    <div class="div-number">
                    <div class="inp-number"><%= number_field_tag 'investment_amount', nil, within:1...500000000, id: "number", placeholder: 'Investment Amount.', required: :true %></div>
                    <div class="tex-number"><h3>USD Dollars.</h3></div>
                    </div>
                </div>
                <div class="element2">
                    <h3><%= label_tag 'income', 'Preferred Investment Portfolio:', id: "income-label"%></h3>
                    <div>
                        <%= select_tag "Portfolio", options_for_select([
                              ["--Please choose one of these--",0],
                              ["Minnig Equipment.",1],
                              ["Day Tradding.",2],
                              ["Exchange Crypto Assets.",3],
                              ["Smart Contracts Applications.",4],
                              ["FinTech Venture Capital.",5]
                               ], "--Please choose one of these--"),  id: "dropdown"%>
                    </div>
                </div>
            </div>
            <div class="row-C">
                <%= field_set_tag 'Residence' do%>
                    <div><p>Please choose where do you have your legal residence:</p></div>
                    <div class="rdgroup">
                        <div class="rditem">
                            <%= radio_button_tag 'region','nam'%>
                            <%= label_tag 'region_nam', 'NorthAmerica'%>
                        </div>
                        <div class="rditem">
                            <%= radio_button_tag 'region','eur'%>
                            <%= label_tag 'region_eur', 'Europe'%>
                        </div>
                        <div class="rditem">
                            <%= radio_button_tag 'region','sam'%>
                            <%= label_tag 'region_sam', 'SouthAmerica'%>
                        </div>
                        <div class="rditem">
                            <%= radio_button_tag 'region','afr'%>
                            <%= label_tag 'region_afr', 'Africa'%>
                        </div>
                        <div class="rditem">
                            <%= radio_button_tag 'region','asi'%>
                            <%= label_tag 'region_asi', 'Asia'%>
                        </div>
                        <div class="rditem">
                            <%= radio_button_tag 'region','aus'%>
                            <%= label_tag 'region_aus', 'Australia'%>
                        </div>
                    </div>
                <% end %>
                <%= field_set_tag 'Cryptocurrencies' do%>
                    <div><p>How many crypto tokens do you know?</p></div>
                    <div class="cbgroup">
                        <div class="cbitem">
                            <%= check_box_tag 'btc' %>
                            <%= label_tag 'btc', 'Bitcoin'%>
                        </div>
                        <div class="cbitem">
                            <%= check_box_tag 'bch' %>
                            <%= label_tag 'bch', 'Bitcoin Cash'%>
                        </div>
                        <div class="cbitem">
                            <%= check_box_tag 'eth' %>
                            <%= label_tag 'eth', 'Etherium'%>
                        </div>
                        <div class="cbitem">
                            <%= check_box_tag 'xrp' %>
                            <%= label_tag 'xrp', 'Ripple'%>
                        </div>
                        <div class="cbitem">
                            <%= check_box_tag 'eos' %>
                            <%= label_tag 'eos', 'EOS'%>
                        </div>
                        <div class="cbitem">
                            <%= check_box_tag 'xlm' %>
                            <%= label_tag 'xlm', 'Stellas'%>
                        </div>
                        <div class="cbitem">
                            <%= check_box_tag 'usdt' %>
                            <%= label_tag 'usdt', 'Tether'%>
                        </div>
                        <div class="cbitem">
                            <%= check_box_tag 'xmr' %>
                            <%= label_tag 'xmr', 'Monero'%>
                        </div>
                        <div class="cbitem">
                            <%= check_box_tag 'ltc' %>
                            <%= label_tag 'ltc', 'Litecoin'%>
                        </div>
                    </div>
                <% end %>
            </div>
            <div class="comments">
                <%= label_tag 'text_area', 'Leave a Comment'%>
                <%= text_area_tag 'text_area', nil, rows: 5, placeholder: 'Feel free to ask us anything:' %>
            </div>
            <div class="btn">
                <%= submit_tag 'submit', id: 'submit'%>
                <p><input type="reset" name="reset-btn" value="Reset form"></p>
            </div>
        <% end %>
        <div class="contact">
            <p>For more information:</p>
            <ul>
                <li><a href="#" placeholder="telephone number"><small>Phone</small></a></li>
                <li>|</li>
                <li><a href="#" placeholder="email address"><small>Email</small></a></li>
                <li>|</li>
                <li><a href="#" placeholder="home web page"><small>Home</small></a></li>
            </ul>
        </div>
    </main>
    <footer>
      <p>.</p>
    </footer>
  </div>
